.container {
  width: 95%;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 100px;
  min-height: 491px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border: 2px solid #ddd;
  min-width: 100px;
}

.table th {
  font-weight: 600;
}

.table tbody tr {
  border: 2px solid #ddd;
  min-width: 200px;
  font-size: 15px;
  text-align: center;
  padding: 12px 15px;
}

.delete_button {
  margin: 10px 0px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.table tbody th {
  cursor: pointer;
}

.table-head {
  background-color: #2196f3;
  color: white;
  font-size: 16px;
}

.table-head th {
  border: none;
  padding: 16px;
}

tfoot th {
  border-top: 1px solid #ddd;
}

tfoot th:first-child {
  padding-left: 20px;
}

tfoot th:last-child {
  padding-right: 20px;
}

.create-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: fixed;
  bottom: 14px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-row button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
