.container {
  width: 95%;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 100px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  min-width: 100px;
  font-size: 15px;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  font-weight: 600;
}

.table tbody tr {
  min-width: 200px;
  font-size: 15px;
  text-align: center;
  padding: 12px 15px;
}

.table tbody th {
  cursor: pointer;
}

.table-head {
  background-color: #2196f3;
  color: white;
  font-size: 16px;
}

.table-head th {
  border: none;
  padding: 16px;
}

.table tfoot {
  /* position: fixed; */
}
